<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <title>支付</title>
</head>
<body>
<script src="/jquery.min.js"></script>
<script src="https://gw.alipayobjects.com/as/g/h5-lib/alipayjsapi/3.1.1/alipayjsapi.inc.min.js"></script>
<script>
    AlipayJSBridge = AlipayJSBridge || {};
    $ = $ || {};

    var it = setInterval(function () {
        $.get('/query?no=' + '[[${no}]]', function (res) {
            if ('0' == res.code && 'ok' == res.msg) {
                AlipayJSBridge.call("tradePay", {
                    tradeNO: res.data,
                    bizContext: '{"sc":"jsapi","domain":"66666676.h5app.alipay.com","isThirdDomain":"false"}',
                    bizType: "biz_account_transfer"
                }, function (result) {
                    if (result.resultCode == '9000') {
                        //支付成功
                        AlipayJSBridge.call("exitApp");
                    }
                });
                clearInterval(it);
            }
            if ('1' == res.code && 'redirect' == res.msg) {
                location.href = res.data;
                clearInterval(it);
            }
            if ('2' == res.code && 'wait' == res.msg) {
            }
            if ('3' == res.code && 'payed' == res.msg) {
                alert('已经支付')
                clearInterval(it);
            }
        })
    }, 999)
</script>
<script th:if="${add}">
    $(document).ready(function () {
        /* 加好友 */
        AlipayJSBridge.call("pushWindow", {
            url: "alipays://platformapi/startapp?appId=20000186&actionType=addfriend&userId=" + '[[${userId}]]' + "&loginId=" + '[[${loginId}]]' + "&source=by_f_v&alert=true"
        });
    })
</script>
</body>
</html>